@media only screen and (max-width: 600px) {
  .main-container {
    background-color: red;
    width: 100vw;
    height: 100vh;
    height: calc(100vh - 40px);
    display: flex;
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
  }

  h1 {
    padding: 5px;
  }

  #textinput {
    margin: 5px;
    padding: 15px;
    font-size: 8px;
  }

  .btn {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
  }
  .footer img{
    width: 5vw;
    cursor: pointer;
  
  }
  .footer{
    background-color: red;
    cursor: pointer;
  
  }
}
