
.navbar{
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
  height: 40px;
}

.navitmescontainer{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.navitmescontainer > li{
  cursor: pointer;
  margin-left:10px;
}
.navbar img{
  /* width: 20%;
  height: 100%; */
}