@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:"poppins";
}

.main-container {
  width: 100vw;
<<<<<<< HEAD
  height: 100vh;
  background: url(https://img.freepik.com/free-photo/top-view-alphabet-letters-frame_23-2148718188.jpg?w=1380&t=st=1697474909~exp=1697475509~hmac=23a2763696f17f60a5c9073b04fc478e20bd3111b0a9fd5ca4a29da97c4ae66b);
=======
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #ffffff, #000000);
  /* background: url(https://img.freepik.com/free-photo/top-view-alphabet-letters-frame_23-2148718188.jpg?w=1380&t=st=1697474909~exp=1697475509~hmac=23a2763696f17f60a5c9073b04fc478e20bd3111b0a9fd5ca4a29da97c4ae66b); */
>>>>>>> f15401e (Navbar added)
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-container{
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-weight: 500;
  padding: 5px;
}
#textinput {
  margin: 5px;
  padding: 35px;
  font-size: 1rem;
  border-radius: 12px;

}

.btn {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 8px;
  border: none;
}
<<<<<<< HEAD
=======
.Navbar{
  width: 100vw;
  height: 40px;
  background-color: white;

}
.navitmes{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.navitmes li{
  cursor: pointer;
  font-family: 400;
}
.navitmes li a{
  text-decoration: none;
}
.navitmes li a:active{
  color: yellow;
  background-color: blue;
}
.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 60px;
  color: white;
  background-color: black;

}


/* ------------ about-container ------------ */
.about-container{
  width: 100vw;
  height: calc(100vh - 100px);
  margin: 0 auto;
}
>>>>>>> f15401e (Navbar added)
